name: Build

on:
  workflow_dispatch:
  push:
    paths:
      - "config/**"
      - "build.yaml"
      - ".github/workflows/main.yml"
  pull_request:
    paths:
      - "config/**"
      - "build.yaml"
      - ".github/workflows/main.yml"

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v2
